body {
    width: 95%;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    display: inline-block;
}

.links {
    display: inline-block;
    background-color: #f2f2f2;
}

.link {
    display: inline-block;
    position: relative;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: rgb(90, 68, 68);
    color: aquamarine;
}

.total {
    color: #fff;
    position: absolute;
    right: -1rem;
    top: -0.4rem;
    font-size: 0.7rem;
    background-color: rgb(67, 67, 21);
    text-align: center;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

}