.main-page {
  position: relative;
  width: 1950px;
  height: 6419px;
  background: #ffffff;
}

.main-page .window1 {
  position: relative;
  width: 1950px;
  height: 740px;
}

.main-page .window1 .bc-image {
  position: absolute;
}

.main-page .window1 .logo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 405px;
  top: 20px;
}

.main-page .window1 .menu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 1465px;
}

.main-page .window1 .main-text {
  position: absolute;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 950px;
  height: 170px;
  font-size: 64px;
  left: 500px;
  top: 100px;
}

.main-page .window1 .main-text .span {
  margin: 130px;
}

.main-page .window1 .paragraph {
  position: absolute;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 734px;
  height: 22px;
  left: 800px;
  top: 350px;
  font-size: 18px;
}

.main-page .window2 {
  position: absolute;
  width: 1110px;
  height: 300px;
  left: 405px;
  top: 590px;
  background: #F7F7F7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page .window2 .box1 {
  position: absolute;
  width: 190px;
  height: 186px;
  left: 200px;
}

.main-page .window2 .box1 .number {
  font-size: 70px;
  color: orangered;
}

.main-page .window2 .box1 .age {
  font-size: 40px;
}

.main-page .window2 .box1 .comment {
  font-size: 20px;
  color: grey;
}

.main-page .window2 .box2 {
  position: absolute;
  width: 190px;
  height: 186px;
  left: 400px;
}

.main-page .window2 .box2 .number {
  font-size: 70px;
  color: orangered;
}

.main-page .window2 .box2 .age {
  font-size: 40px;
}

.main-page .window2 .box2 .comment {
  font-size: 20px;
  color: grey;
}

.main-page .window2 .box3 {
  position: absolute;
  width: 190px;
  height: 186px;
  left: 600px;
}

.main-page .window2 .box3 .number {
  font-size: 70px;
  color: orangered;
}

.main-page .window2 .box3 .age {
  font-size: 40px;
}

.main-page .window2 .box3 .comment {
  font-size: 20px;
  color: grey;
}

.main-page .window2 .box4 {
  position: absolute;
  width: 190px;
  height: 186px;
  left: 800px;
}

.main-page .window2 .box4 .number {
  font-size: 70px;
  color: orangered;
}

.main-page .window2 .box4 .age {
  font-size: 40px;
}

.main-page .window2 .box4 .comment {
  font-size: 20px;
  color: grey;
}

.main-page .window3 {
  position: relative;
  width: 1110px;
  height: 700px;
}

.main-page .window3 .m-text {
  position: absolute;
  width: 510px;
  height: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  left: 700px;
  top: 250px;
}

.main-page .window3 .stage-images {
  position: absolute;
  width: 1110px;
  height: 650px;
  left: 405px;
  top: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page .window3 .stage-images .image1 {
  position: absolute;
  width: 350px;
}

.main-page .window3 .stage-images .image1 .img1 {
  width: 350px;
  height: 380px;
}

.main-page .window3 .stage-images .image1 .hr1 {
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: orangered;
  border: 2px solid #F7654A;
  left: 0px;
}

.main-page .window3 .stage-images .image1 .medium-text {
  font-size: 24px;
}

.main-page .window3 .stage-images .image1 .comment {
  color: grey;
  width: 350px;
}

.main-page .window3 .stage-images .image2 {
  position: absolute;
  left: 380px;
}

.main-page .window3 .stage-images .image2 .img1 {
  width: 350px;
  height: 380px;
}

.main-page .window3 .stage-images .image2 .hr1 {
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: orangered;
  border: 2px solid #F7654A;
  left: 0px;
}

.main-page .window3 .stage-images .image2 .medium-text {
  font-size: 24px;
}

.main-page .window3 .stage-images .image2 .comment {
  color: grey;
  width: 350px;
}

.main-page .window3 .stage-images .image3 {
  position: absolute;
  left: 760px;
}

.main-page .window3 .stage-images .image3 .img1 {
  width: 350px;
  height: 380px;
}

.main-page .window3 .stage-images .image3 .hr1 {
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: orangered;
  border: 2px solid #F7654A;
  left: 0px;
}

.main-page .window3 .stage-images .image3 .medium-text {
  font-size: 24px;
}

.main-page .window3 .stage-images .image3 .comment {
  color: grey;
  width: 350px;
}

.main-page .window4 {
  position: relative;
  width: 1920px;
  height: 180px;
  background-color: #F7654A;
  top: 280px;
}

.main-page .window4 .advertisement-text {
  position: absolute;
  width: 650px;
  height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  color: #F7F7F7;
  left: 405px;
}

.main-page .window4 .comment {
  position: absolute;
  width: 570px;
  height: 30px;
  color: #F7F7F7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  left: 405px;
  top: 70px;
}

.main-page .window4 .button {
  position: absolute;
  width: 175px;
  height: 50px;
  left: 1340px;
  top: 55px;
  background-color: #fff;
}

.main-page .window5 {
  position: relative;
  width: 1110px;
  height: 640px;
  left: 405px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 350px;
}

.main-page .window5 .top-text {
  position: absolute;
  width: 400px;
  height: 45px;
  font-size: 35px;
  left: 450px;
}

.main-page .window5 .boxes {
  position: relative;
  width: 1110px;
  height: 600px;
  top: 100px;
}

.main-page .window5 .boxes .box1 {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #e0e0e0;
}

.main-page .window5 .boxes .box1 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box1 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window5 .boxes .box2 {
  position: absolute;
  width: 350px;
  height: 250px;
  left: 400px;
  background-color: #e0e0e0;
}

.main-page .window5 .boxes .box2 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box2 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window5 .boxes .box3 {
  position: absolute;
  width: 350px;
  height: 250px;
  left: 800px;
  background-color: #e0e0e0;
}

.main-page .window5 .boxes .box3 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box3 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window5 .boxes .box4 {
  position: absolute;
  width: 350px;
  height: 250px;
  top: 280px;
  background-color: #e0e0e0;
}

.main-page .window5 .boxes .box4 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box4 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window5 .boxes .box5 {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #e0e0e0;
  top: 280px;
  left: 400px;
}

.main-page .window5 .boxes .box5 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box5 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window5 .boxes .box6 {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #e0e0e0;
  top: 280px;
  left: 800px;
}

.main-page .window5 .boxes .box6 .stroy-image {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 160px;
  top: 50px;
}

.main-page .window5 .boxes .box6 .stroy-text {
  position: absolute;
  width: 170px;
  height: 65px;
  top: 100px;
  left: 100px;
}

.main-page .window6 {
  position: relative;
  top: 450px;
}

.main-page .window6 .img1 {
  margin: 0;
  padding: 0;
}

.main-page .window7 {
  position: relative;
  width: 750px;
  height: 460px;
  left: 405px;
  top: 700px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page .window7 .main-text {
  position: absolute;
  width: 450px;
  height: 55px;
  right: 0px;
  font-size: 35px;
}

.main-page .window7 .answers {
  position: absolute;
  width: 750px;
  height: 440px;
  top: 150px;
}

.main-page .window7 .answers .answer1 {
  position: absolute;
  color: #F7654A;
}

.main-page .window7 .answers .answer2 {
  position: absolute;
  top: 60px;
  color: #F7654A;
}

.main-page .window7 .answers .comment {
  position: absolute;
  top: 100px;
  color: grey;
  width: 550px;
  height: 85px;
}

.main-page .window7 .answers .answer3 {
  position: absolute;
  top: 230px;
  color: #F7654A;
}

.main-page .window7 .answers .answer4 {
  position: absolute;
  top: 300px;
  color: #F7654A;
}

.main-page .window8 {
  position: relative;
  width: 1920px;
  height: 365px;
  background-color: #404149;
  top: 850px;
}

.main-page .window8 .partners-text {
  position: absolute;
  width: 260px;
  height: 45px;
  color: #fff;
  font-size: 35px;
  left: 800px;
}

.main-page .window8 .images {
  position: absolute;
  width: 1105px;
  height: 65px;
  left: 405px;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window8 .images .partner-img1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window8 .images .partner-img2 {
  position: absolute;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window8 .images .partner-img3 {
  position: absolute;
  left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window8 .images .partner-img4 {
  position: absolute;
  left: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window8 .images .partner-img5 {
  position: absolute;
  left: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .window9 {
  position: relative;
  width: 1110px;
  height: 440px;
  left: 405px;
  top: 900px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page .window9 .review {
  position: absolute;
  width: 600px;
  height: 60px;
  left: 260px;
  font-size: 35px;
}

.main-page .window9 .boxes {
  position: absolute;
  width: 1110px;
  height: 420px;
  top: 150px;
}

.main-page .window9 .boxes .box1 {
  position: absolute;
  width: 350px;
  height: 260px;
}

.main-page .window9 .boxes .box1 .comment .span {
  color: #F7654A;
}

.main-page .window9 .boxes .box2 {
  position: absolute;
  width: 350px;
  height: 260px;
  left: 400px;
}

.main-page .window9 .boxes .box2 .comment .span {
  color: #F7654A;
}

.main-page .window9 .boxes .box3 {
  position: absolute;
  width: 350px;
  height: 260px;
  left: 800px;
}

.main-page .window9 .boxes .box3 .comment .span {
  color: #F7654A;
}

.main-page .window10 {
  position: relative;
  width: 1920px;
  height: 180px;
  background-color: #F7654A;
  top: 1000px;
}

.main-page .window10 .advertisement-text {
  position: absolute;
  width: 650px;
  height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  color: #F7F7F7;
  left: 405px;
}

.main-page .window10 .comment {
  position: absolute;
  width: 570px;
  height: 30px;
  color: #F7F7F7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  left: 405px;
  top: 70px;
}

.main-page .window10 .button {
  position: absolute;
  width: 175px;
  height: 50px;
  left: 1340px;
  top: 55px;
  background-color: #fff;
}

.main-page .window11 {
  position: relative;
  width: 1110px;
  height: 305px;
  left: 405px;
  top: 1100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page .window11 .contacting {
  position: absolute;
  width: 200px;
  height: 60px;
  font-size: 35px;
  left: 550px;
}

.main-page .window11 .boxes {
  position: absolute;
  width: 1110px;
  height: 280px;
  top: 200px;
}

.main-page .window11 .boxes .box1 {
  position: absolute;
  width: 250px;
  font-size: 24px;
}

.main-page .window11 .boxes .box2 {
  position: absolute;
  left: 350px;
  font-size: 24px;
}

.main-page .window11 .boxes .box3 {
  position: absolute;
  left: 700px;
  font-size: 24px;
}

.main-page .window11 .boxes .box4 {
  position: absolute;
  left: 1000px;
  font-size: 24px;
}

.main-page .window11 .boxes .box4 .comment {
  color: #F7654A;
}

.main-page .window12 {
  position: relative;
  width: 1920px;
  height: 85px;
  background-color: #404149;
  top: 1500px;
}

.main-page .window12 .paragraph1 {
  position: absolute;
  width: 355px;
  font-size: 22px;
  color: #fff;
  left: 400px;
}

.main-page .window12 .paragraph2 {
  position: absolute;
  width: 255px;
  font-size: 16px;
  color: #fff;
  left: 1300px;
  top: 10px;
}
/*# sourceMappingURL=style.css.map */